# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild*/
MemoryCaptures/
Logs/

# User-specific settings
UserSettings/

# Visual Studio / Rider / MonoDevelop
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS-specific
.DS_Store
Thumbs.db
